body { background: #36ec2b; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 30px; display: flex; }
.block-product-0 { color: #81028f; font-size: 12px; margin-bottom: 5px; }
.block-validator-1 { color: #a57279; font-size: 19px; margin-bottom: 5px; }
.block-router-2 { color: #896268; font-size: 13px; margin-bottom: 5px; }
.block-user-3 { color: #deae3a; font-size: 12px; margin-bottom: 5px; }
.block-email-4 { color: #4507b6; font-size: 12px; margin-bottom: 5px; }
.block-payment-5 { color: #694a3; font-size: 14px; margin-bottom: 5px; }